body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

.product {
    flex: 1 1 60%;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product .product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.product .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: calc(25% - 1.5rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product .product-card:hover {
    transform: scale(1.05);
}

.product .product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product .product-card h4 {
    margin: 1rem 0;
    font-size: 1.25rem;
}

.product .product-card .product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #28a745;
}

.product .product-card .add-to-cart-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product .product-card .add-to-cart-btn:hover {
    background-color: #218838;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: lightgray;
    color: black;
    flex-wrap: wrap;
}

.footer h4 {
    margin-bottom: 1rem;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin: 0.5rem 0;
}